.row1{                                      /*           BODEGA.HTML seccion / GRIDS /       */
    height: 5%;
    padding-bottom: 2.5%;
}

.bodega {                       /*  fondo y margen contenedor de CARDS */
 margin: 5%;
 padding: 3%;

}