.logo {                                                                     /* LOGOTIPO*/
    background-image:url("../assets/stVitisLogotipo.png");
    height: 30%;
    width: 0em;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    float:left;
    flex-direction: row;
    padding-right: 80em;
}